body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}       

.timerDiv {
    padding: 10px;
    color: rgb(30, 32, 177);
}

.introDiv {
    background-color: rgb(255, 255, 255) 255);
    color: rgb(180, 12, 12);
    margin: 0 auto;
    margin-top: 10%;
    padding: 35px;
    overflow: auto;
    width: 60%;
    text-align: center;
    border-radius: 120px;
}

#startQuiz, #clear {
    border-radius: 80px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  

.startHidden {
    display: none;
}

a.button {

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}